@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

body {
  font-family: 'Poppins';
}

.link-menu {
  color: #fff;
  background-color: #555;
}

.f {
  background-color: #5b305a;
}

.l {
  background-color: #e49756;
}

.m {
  background-color: #e04b5a;
}

main {
  background-color: #333;
  color: #ddd;
}

h1, h2 {
  font-family: 'Amatic SC';
}

#second a{
  color: #fff;
}

footer {
  background-color: #333;
  color: #ddd;
}

header #logo a img {
  width: 150px;
}

header{
  display: flex;
}

header div, header nav{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

ul#menu{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
}

ul#menu li a{
  padding: 10px;
  border-radius: 5%;
}

main{
  display: flex;
  justify-content: center;
}

#principal{
  margin: 45px;
  display: flex;
  justify-content: center;
}

#principal figure{
  display: flex;
  flex: 1;
  justify-content: end;
}

figure img{
  width: 350px;
}

#sec_ctd{
  display: flex;
  flex: 1;
  flex-direction: column;
}
#sec_ctd h1{
  text-align: end;
  font-size: 40px;
  width: 80%
}

#sec_ctd p{
  text-align: justify;
  width: 75%;
}
